.name {
    margin: 10px 20px 10px 10px;
    font-weight: 700;
    font-size: 2em;
}

.aliases {
    margin: 0 20px 10px 10px;
    font-size: 1em;
    text-align: right;
}

.number {
    margin: 10px;
    font-weight: 700;
    font-size: 1em;
}

.reason {
    padding: 0 15px;
    margin: 20px 10px;
    border-left: 3px solid rgba(0, 0, 0, .15);
}

.section {
    margin: 5px 10px 40px 10px;
}
