.name {
    margin: 10px;
    font-weight: 700;
    font-size: 2em;
}

.aliases {
    margin: 10px;
    font-size: 1em;
}

.number {
    margin: 10px;
    font-weight: 700;
    font-size: 1em;
}

.reason {
    padding: 0 15px;
    margin: 10px;
    border-left: 3px solid rgba(0, 0, 0, .15);
}

.section {
    margin: 20px 10px 5px 10px;
    padding: 0;
    font-weight: 700;
    font-size: 1em;
}

.links {
    margin: 0 10px;
}

.minutes {
    margin: 0 10px;
}