.name {
    margin: 10px;
    font-weight: 700;
    font-size: 2em;
}

.description {
    padding: 0 15px;
    margin: 10px;
    border-left: 3px solid rgba(0, 0, 0, .15);
    color: rgba(0, 0, 0, .8);
}

.topic {
    margin: 3px 0;
    color: rgba(0, 0, 0, .8);
}

.section {
    margin: 5px 10px 40px 10px;
}