.name {
    margin: 10px;
    font-weight: 700;
    font-size: 2rem;
}

.date {
    margin: 10px;
    font-weight: 700;
    font-size: 1.3rem;
}

.link {
    color: #333;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.summary {
    padding: 0 15px;
    margin: 10px;
    border-left: 3px solid rgba(0, 0, 0, .15);
    color: rgba(0, 0, 0, .8);
}

.topic {
    margin: 3px 0;
    color: rgba(0, 0, 0, .8);
}

.section {
    margin: 5px 10px 25px 10px;
}

.wordcloud {
    margin: 0 auto;
    display: block;
    width: 90%;
    max-width: 500px;
    object-fit: cover;
    border-radius: 5%;
}

.timeline {
    max-width: 800px;
    max-height: 300px;
    overflow: scroll;
    border: solid;
    border-color: gray;
}