.card {
    width: 80px;
    height: 80px;
    margin: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #bbb;
    color:#333;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1px 3px #ccc;
    background: #fff;
}

.icon {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.title {
    height: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titletext {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    line-height: 0.9rem;
}

.subtitletext {
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: #777;
}
