.card {
    align-items: center;
    margin: 0 10px 12px 10px;
    padding: 5px;
    width: 800px;
    background: #fff;
    box-shadow: 0 1px 3px #ccc;
    text-decoration: none;
    color: #333;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    align-self: start;
}

.main {
    display: flex;
}

.image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 10px;
}

.group {
    margin: 0 10px;
    padding: 0 5px;
    color: white;
    background: black;
    text-align: center;
    font-weight: bold;
}

.groupJimin {
    composes: group;
    background: #000000;
}

.groupRikken {
    composes: group;
    background: #004098;
}

.groupKomei {
    composes: group;
    background: #dc7eb0;
}

.groupKyosan {
    composes: group;
    background: #db001b;
}

.groupIshin {
    composes: group;
    background: #5ab02e;
}

.groupKokumin {
    composes: group;
    background: #ebbf2d;
}

.mainText {
    margin: 5px
}

.house {
    font-size: 14px;
    color: #333;
}

.name {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.fragment {
    font-size: 14px;
    color: #333333;
    padding: 3px 0;
}

.activity {
    margin: 10px 10px 5px 10px;
    background-color: #f0f0f0;
    color: #333333;
    padding: 10px 20px;
    font-size: 14px;
}

