.card {
    align-items: center;
    margin: 0 auto 12px auto;
    width: 300px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
    text-decoration: none;
    color: #333;
}

.header {
    display: flex;
}

.title {
    margin: 5px;
    font-weight: bold;
    flex-grow: 1;
}

.status {
    margin: 3px 0 auto 0;
    padding: 0 5px;
    color: white;
    background-color: #c27ba0ff;
    font-size: small;
    text-align: right;
}

.description {
    padding: 0px 8px 5px 8px;
    margin: 0;
    font-size: small;
}