.default {
    width: 100%;
    max-width: 650px;
    margin: 0 auto 10px auto;
}

.flex {
    composes: default;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    margin: 0 auto;
    width: 30%;
    height: 35px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 20px;
    outline: none;
}