.default {
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
}

.flex {
    composes: default;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.singlePane {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

.twoPane {
    composes: singlePane;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    margin: 10px auto;
    width: 30%;
    height: 35px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 20px;
    outline: none;
}

.titleButton {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.title {
    margin: 10px 0;
    padding: 0;
    width: 100%;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: left;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 500;
}