.card {
    width: 80px;
    height: 80px;
    margin: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    color: #333;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1px 3px #ccc;
    background: #fff;
}

.icon {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    height: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titletext {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    line-height: 0.9rem;
}

.domain {
    height: 20%;
    margin: 0 2px;
    padding: 0;
    font-size: 0.6rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}