.badge {
    width: 100%;
    max-width: 650px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.title {
    text-align: center;
    width: 80px;
    height: 40px;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.arrow {
    display: flex;
    flex-direction: row;
}

.body {
    height: 50px;
    width: 80px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tail {
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 25px 0 25px 10px;
    border-color: transparent transparent transparent black;
}

.p {
    margin: 0;
}

.body0 {composes: body; background: #93c47dff;}
.tail0 {composes: tail; border-left-color: #93c47dff;}

.body1 {composes: body; background: #76a5afff;}
.tail1 {composes: tail; border-left-color: #76a5afff;}

.body2 {composes: body; background: #6d9eebff;}
.tail2 {composes: tail; border-left-color: #6d9eebff;}

.body3 {composes: body; background: #6fa8dcff;}
.tail3 {composes: tail; border-left-color: #6fa8dcff;}

.body4 {composes: body; background: #8e7cc3ff;}
.tail4 {composes: tail; border-left-color: #8e7cc3ff;}

.body5 {composes: body; background: #c27ba0ff;}
.tail5 {composes: tail; border-left-color: #c27ba0ff;}