.input {
    width: 100%;
    font-size: 1.3rem;
    height: 3rem;
    margin: 20px auto;
    padding: 0 1rem;
    box-shadow: inset 0 0 3px #ccc;
    background: #fff;
    border-radius: 3px;
    border: none;
    color:#333;
}